In [30]:
import numpy as np
import pandas as pd

In [31]:
pd.read_csv("melb_data.csv")

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [32]:
melb_data = pd.read_csv('melb_data.csv')

In [33]:
melb_data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [34]:
melb_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [35]:
#melb_data = melb_data.dropna(axis=0) #dropNA in essence... the NA has become na to fit naming conventions

In [36]:
y = melb_data.Price

In [37]:
melb_features = ['Type', 'Method', 'Regionname','Distance', 'Postcode', 'Bedroom2','Propertycount','Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X = melb_data[melb_features]

In [38]:
X.describe()

,Distance,Postcode,Bedroom2,Propertycount,Rooms,Bathroom,Landsize,Lattitude,Longtitude
count,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000,13580.000000
mean,10.137776,3105.301915,2.914728,7454.417378,2.937997,1.534242,558.416127,-37.809203,144.995216
std,5.868725,90.676964,0.965921,4378.581772,0.955748,0.691712,3990.669241,0.079260,0.103916
min,0.000000,3000.000000,0.000000,249.000000,1.000000,0.000000,0.000000,-38.182550,144.431810
25%,6.100000,3044.000000,2.000000,4380.000000,2.000000,1.000000,177.000000,-37.856822,144.929600
50%,9.200000,3084.000000,3.000000,6555.000000,3.000000,1.000000,440.000000,-37.802355,145.000100
75%,13.000000,3148.000000,3.000000,10331.000000,3.000000,2.000000,651.000000,-37.756400,145.058305
max,48.100000,3977.000000,20.000000,21650.000000,10.000000,8.000000,433014.000000,-37.408530,145.526350

In [39]:
X.head()

,Type,Method,Regionname,Distance,Postcode,Bedroom2,Propertycount,Rooms,Bathroom,Landsize,Lattitude,Longtitude
0,h,S,Northern Metropolitan,2.5,3067.0,2.0,4019.0,2,1.0,202.0,-37.7996,144.9984
1,h,S,Northern Metropolitan,2.5,3067.0,2.0,4019.0,2,1.0,156.0,-37.8079,144.9934
2,h,SP,Northern Metropolitan,2.5,3067.0,3.0,4019.0,3,2.0,134.0,-37.8093,144.9944
3,h,PI,Northern Metropolitan,2.5,3067.0,3.0,4019.0,3,2.0,94.0,-37.7969,144.9969
4,h,VB,Northern Metropolitan,2.5,3067.0,3.0,4019.0,4,1.0,120.0,-37.8072,144.9941

In [40]:
from sklearn.tree import DecisionTreeRegressor

#the random state being specified ensures the same model each run
#random_state value won't affect the quality of the fit
melb_model = DecisionTreeRegressor(random_state=1)

melb_model.fit(X, y)

ValueError: could not convert string to float: 'h'

In [ ]:
print("Predictions for: ")
print(X.head())
print('are-- ')
print(melb_model.predict(X.head()))

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
predicted_prices = melb_model.predict(X)
mean_absolute_error(y, predicted_prices)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)
melb_model = DecisionTreeRegressor()
melb_model.fit(train_X, train_y)

predicts = melb_model.predict(val_X)
print(mean_absolute_error(val_y, predicts))

In [ ]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_val)
    return mae

In [43]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=0)
'''for max_leaf_nodes in [5, 10, 50, 100, 500, 1000]:
    mae_calc = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, mae_calc))'''

'for max_leaf_nodes in [5, 10, 50, 100, 500, 1000]:\n    mae_calc = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)\n    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, mae_calc))'

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
random_forest = RandomForestRegressor(random_state=1)
random_forest.fit(train_X, train_y)
rf_melb_pred = random_forest.predict(val_X)
print(mean_absolute_error(val_y, rf_melb_pred))

In [ ]:
missing_cols = [col for col in train_X.columns if train_X[col].isnull().any()]

def get_mae_score(train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(random_state=0)
    model.fit(train_X, train_y)
    
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_val)
    return mae

In [ ]:
reduced_train_X = train_X.drop(missing_cols, axis = 1)
reduced_val_X = val_X.drop(missing_cols, axis=1)
print(get_mae_score(reduced_train_X, reduced_val_X, train_y, val_y))

In [ ]:
from sklearn.impute import SimpleImputer

simple_imputer = SimpleImputer()
imp_train_X = pd.DataFrame(simple_imputer.fit_transform(train_X))
imp_val_X = pd.DataFrame(simple_imputer.transform(val_X))

imp_train_X.columns = train_X.columns
imp_val_X.columns = val_X.columns
print(get_mae_score(imp_train_X, imp_val_X, train_y, val_y))

In [44]:
dt = (train_X.dtypes == 'object')
obj_cols = list(dt[dt].index)

print(obj_cols)

['Type', 'Method', 'Regionname']

In [45]:
def get_mae_score(train_X, val_X, train_y, val_y):
    model = RandomForestRegressor(random_state=0)
    model.fit(train_X, train_y)
    
    pred_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, pred_val)
    return mae

In [47]:
drop_train_X = train_X.select_dtypes(exclude='object')
drop_test_X = val_X.select_dtypes(exclude='object')

print(get_mae_score(drop_train_X, drop_test_X, train_y, val_y))

179453.26073848095

In [48]:
from sklearn.preprocessing import LabelEncoder

label_train_X = train_X.copy()
label_val_X = val_X.copy()

label_enc = LabelEncoder()

for col in obj_cols:
    label_train_X[col] = label_enc.fit_transform(train_X[col])
    label_val_X[col] = label_enc.transform(val_X[col])
    
print(get_mae_score(label_train_X, label_val_X, train_y, val_y))

170341.70333038786

In [52]:
from sklearn.preprocessing import OneHotEncoder

OH_enc = OneHotEncoder(sparse=False, handle_unknown='ignore')
oh_cols_train = pd.DataFrame(OH_enc.fit_transform(train_X[obj_cols]))
oh_cols_test = pd.DataFrame(OH_enc.transform(val_X[obj_cols]))

oh_cols_train.index = train_X.index
oh_cols_test.index = val_X.index

num_X_train = train_X.drop(obj_cols, axis=1)
num_X_valid = val_X.drop(obj_cols, axis=1)

oh_X_train = pd.concat([num_X_train, oh_cols_train], axis=1)
oh_X_val = pd.concat([num_X_valid, oh_cols_test], axis=1)

print(get_mae_score(oh_X_train, oh_X_val, train_y, val_y))

169318.86685097133